:root{
    --blue:#306AD9;
    --bg:#0A0A0B;
    --white:#fff;
    --green:#02DB8A;
    --gray:#BABEC4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}
body{
    background-color: var(--bg);
    overflow-x: hidden;
    color: var(--white);
}
main{
    max-width: 330px;
    margin: 20px auto;
}
.logo{
    width: 90px;
}
hr{
    width: 32px;
    height: 5px;
    background-color: var(--white);
    margin-top: 2px;
}
#dot{
    margin:0 auto;
    text-align:center;
    display: flex;
  }
.dot{
    display:inline-bloc;
    border-radius:50%;
    background:var(--gray);
    opacity: 0.7;
    padding:5px;
    margin-right: 4px;
}
.active{
    background-color:var(--blue);
    opacity: 1;
  }
.slideimg{
    margin:0 auto;
    overflow:hidden;
  }

.mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}
.title{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.title img{
    width: 50px;
}
.desc{
    text-align: center;
    color: var(--white);
    font-weight: 500;
    margin-top: 25px;
    font-size: 22px;
}
.hero-txt{
    line-height: 40px;
}
.carname{
    text-align: center;
    font-size: 20px;
    color: var(--gray);
    font-weight: 300;
}
.hero-img #one{
    width: 340px;
    margin-top: 25px;
}
.hero-img #two{
    display: none;
    width: 340px;
    margin-top: 25px;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 335px;
    margin-top: 25px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.foot img{
    width: 40px;
    margin-bottom: 10px;
}
.info h1{
    color: var(--white);
    font-weight: 400;
}
.info h5{
    color: var(--gray);
    font-weight: 400;
    font-size: 10px;
}
.circle{
    width: 100px;
    height: 100px;
    margin-top: 90px;
    background-color: transparent;
    color: var(--white);
    font-weight: 600;
    border-radius: 100%;
    border: 3px solid var(--green);
    outline: 3px solid var(--green);
    outline-offset: 10px;
}
.info-img img{
    width: 330px;
}
.car-info{
    margin-top: 90px;
}
.car-info h1{
    color: var(--white);
    font-size: 23px;
    font-weight: 600;
}
.car-info p{
    font-size: 15px;
    color: var(--gray);
}
.info-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
    margin-top: 60px;
}
.car-info button{
    width: 149px;
    height: 56px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide h2{
    margin-top: 90px;
    color: var(--white);
    text-align: center;
}
.slide img{
    width: 300px;
    margin-top: 40px;
    overflow:hidden;
    animation-name:fade;
    animation-duration:1s;
    display:none;
}
.circleslide{
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-top: 12px;
}
.circleslide .active{
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 100%;
}
.circleslide .disible{
    width: 10px;
    height: 10px;
    background-color: var(--gray);
    border-radius: 100%;
    opacity: 0.7;
}
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    justify-content: center;
}
.map h1{
    color: var(--white);
    font-size: 30px;
}
.map img{
    width: 350px;
    margin-left: 30px;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.product{
    margin-top: 120px;
}
.product h1{
    text-align: center;
    color: var(--white);
}
.logos{
    margin-top: 70px;
}
.logos div{
    width: 70px;
    height: 70px;
    background-color: var(--blue);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 18px;
}
.logos img{
    width: 70px;
    height: 70px;
}
.cars img{
    width: 320px;
}
.cars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 2100px;
    margin-top: 70px;
}
.cars-about {
    position: relative;
    display: flex;
    margin-top: 160px;
}
.cars-about .txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.cars-about button{
    width: 156px;
    height: 60px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
}
.cars-about h1{
    color: var(--white);
    text-align: center;
}
.cars-about p{
    color: var(--gray);
    text-align: center;
}
.img-cars img{
    width: 500px;
    margin-top: 100px;
    position: absolute;
    right: -309.5px;
}
.arm-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;
}.arm-img img{
    width: 55px;
    margin-top: 81px;
}
.arm-size{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer{
    margin-top: 170px;
}

.about-com {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:120px;

}
.about-com img{
    width: 120px;
}
.about-com p{
    color: var(--gray);
}
.company{
    margin-top:45px;
}
.company h1{
    color: var(--white);

}
.company ul{
    list-style: none;
    color:var(--white) ;
    font-weight: 400;
}
.company li{
    margin-top: 15px;
}
.information ul{
list-style: none;
color: var(--gray);

}
.information {
    margin-top: 45px;
}
.information h1{
    color: var(--white);
}
.information li{
    margin-top: 15px;
}
.follow{
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin-top: 10px;
}
.Follow-us h1{
    color: var(--white);
}
.Follow-us{
    margin-top: 45px;
}
.follow img{
    width: 20px;
    margin-top: 15px;
}
.copy{
    color: var(--gray);
    margin-top: 50px;
    text-align: center;
}
ul{
    display: none;
}
.loggin{
    display: none;
}
.slidess{
    display: none;
}
@media only screen and (min-width: 900px) {
    main {
        max-width: 900px;
        margin: 20px auto;
    }
    .mobile-nav div{
        display: none;
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        color: var(--white);
        width: 350px;
        font-size: 15px;
        font-weight: 600;
    }
    .loggin{
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 90px;
        height: 32px;
        border: 1.5px solid var(--white);
        font-weight: 600;
        border-radius: 10px;
    }
    .d {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .info-txt{
        margin-top: -20px;
    }
    .slide{
        display: none;
    }
    .slidesimgs{
        margin-left: 40px;
    }
    .slidess h2{
        margin-top: 90px;
        color: var(--white);
        text-align: center;
    }
    .slidess img{
        width: 250px;
        margin-top: 50px;
        margin-right: 30px;
    }
    .cars{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .cars img{
        margin-top: 20px;
    }
    .logos{
        justify-content: space-evenly;
    }
}
  
@keyframes fade{
    from{
      opacity:0.4;
    }
    to{
      opacity:1;
    }
  }
  /* start Login */
  .si-up-page{
    width: 500px ;
    height:500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(35deg,#306AD9,#02DB8A);
    color: var(--white);
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 100px;
  }
  .d-in-1 , .d-in-2 ,.d-in-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .d-in-1 input{
    width: 190px;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: none;
    outline: none;

  }
  .d-in-2 input{
    width: 190px;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: none;
    outline: none;

  }
  .d-in-3 input{
    width: 190px;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: none;
    outline: none;

  }
  .sub-Login{
    width: 190px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
  }
  .acante{
    color: var(--white);
  }
  .Login{
    color: var(--blue);
  }
  a{
    text-decoration:none;
    color: white;
  }
  /* :root{
    --blue:#306AD9;
    --bg:#0A0A0B;
    --white:#fff;
    --green:#02DB8A;
    --gray:#BABEC4;
} */